* {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  scroll-behavior: smooth;
  max-width: 100vw;
}

html {
  scroll-snap-type: y mandatory;
  /* colors  */
  --c01: #f72585;
  --c02: #7209b7;
  --c03: #3a0ca3;
  --c04: #4361ee;
  --c05: #4cc9f0;
  --c06: #fcfcfc;
}

/* font */
h1 {
  font-family: font1;
  font-size: 5rem;
  padding-top: 150px;
  padding-left: 20px;
  color: var(--c01);
}

#info_h1 {
  padding-top: 10%;
  font-family: font1;
  font-size: 20rem;
  text-align: center;
  color: var(--c01);
}

p {
  font-family: font16;
  font-size: 2rem;
  color: var(--c03);
}

#p_header {
  font-family: font10;
  font-size: 3rem;
  text-align: center;
  color: var(--c05);
}

section {
  scroll-snap-align: start;
}

/* --------------fonts-----------  */

@font-face {
  font-family: font1;
  src: url(/font/grinched_2.0_demo-webfont.woff);
  src: url(/font/grinched_2.0_demo-webfont.woff2);
}

@font-face {
  font-family: font2;
  src: url(/font/ActionComics.woff);
  src: url(/font/ActionComics.woff2);
}

@font-face {
  font-family: font3;
  src: url(/font/ActionComicsBlack.woff);
  src: url(/font/ActionComicsBlack.woff2);
}
@font-face {
  font-family: font4;
  src: url(/font/BadaBoomBB.woff);
  src: url(/font/BadaBoomBB.woff2);
}
@font-face {
  font-family: font5;
  src: url(/font/Bouncy-BlackPERSONALUSEONLY.woff);
  src: url(/font/Bouncy-BlackPERSONALUSEONLY.woff2);
}
@font-face {
  font-family: font6;
  src: url(/font/Bouncy-PERSONALUSEONLY.woff);
  src: url(/font/Bouncy-PERSONALUSEONLY.woff2);
}
@font-face {
  font-family: font7;
  src: url(/font/Bouncy-ThinPERSONALUSEONLY.woff);
  src: url(/font/Bouncy-ThinPERSONALUSEONLY.woff2);
}
@font-face {
  font-family: font8;
  src: url(/font/KaBlam.woff);
  src: url(/font/KaBlam.woff2);
}
@font-face {
  font-family: font9;
  src: url(/font/KaBlamUnder.woff);
  src: url(/font/KaBlamUnder.woff2);
}
@font-face {
  font-family: font10;
  src: url(/font/Potato_sans-Bold.woff);
  src: url(/font/Potato_sans-Bold.woff2);
}
@font-face {
  font-family: font11;
  src: url(/font/RaisinUp-Regular.woff);
  src: url(/font/RaisinUp-Regular.woff2);
}
@font-face {
  font-family: font12;
  src: url(/font/ShakaPow.woff);
  src: url(/font/ShakaPow.woff2);
}
@font-face {
  font-family: font13;
  src: url(font/ShakaPowHollow.woff);
  src: url(/font/ShakaPowHollow.woff2);
}
@font-face {
  font-family: font14;
  src: url(/font/ShakaPowUpright.woff);
  src: url(/font/ShakaPowUpright.woff2);
}
@font-face {
  font-family: font15;
  src: url(/font/ShakaPowUprightHollow.woff);
  src: url(/font/ShakaPowUprightHollow.woff2);
}
@font-face {
  font-family: font16;
  src: url(/font/childrensans-webfont.woff);
  src: url(/font/childrensans-webfont.woff2);
}

/* -------navigation------ */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

header #nav_sprite {
  background-image: url(https://mheitmann.dk/assets/asset_1.svg);
  aspect-ratio: 1926/841;
  object-fit: cover;
  margin-bottom: -50%;
  position: sticky;
  z-index: -2;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

nav a {
  margin: 3%;
  margin-top: 2%;
  margin-bottom: -15%;
  border: 0;
  padding: 0;
  padding-top: 1%;
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  font-family: font14;
  color: var(--c05);
}

.active-link {
  color: var(--c01);
  font-family: font1;
  font-size: 1.5rem;
}

nav a:hover {
  font-size: 1.5rem;
  font-family: font15;
}

.link {
  position: sticky;
  width: 7%;
  background-repeat: no-repeat;
  background-image: none;
  aspect-ratio: 313/529;
}

.link1:hover {
  background-image: url(https://mheitmann.dk/assets/k1.svg);
}

.link2:hover {
  background-image: url(https://mheitmann.dk/assets/k2.svg);
}

.link3:hover {
  background-image: url(https://mheitmann.dk/assets/k3.svg);
}

.link4:hover {
  background-image: url(https://mheitmann.dk/assets/k4.svg);
}

.link5:hover {
  background-image: url(https://mheitmann.dk/assets/k5.svg);
}

.link6:hover {
  background-image: url(https://mheitmann.dk/assets/k3.svg);
}

/* --------section-------- */

#section_1 {
  width: 100%;
  height: 100vh;
  background-color: var(--c04);
  /* animation-duration: 6s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: relative;
  z-index: -99;
}

#info {
  position: sticky;
  z-index: 99;
}

/* ------------tema 2 ---------- */

#section_2 {
  width: 100%;
  height: 100vh;
  background-color: var(--c06);
  /* animation-duration: 8s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: static;
  z-index: 5;
}

#section_2 p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -25%;
  line-height: 50px;
}

#tema_2 {
  width: 100%;
  height: 500px;
  padding: 1%;
  border-radius: 40px;
}

#h5_tema_2 {
  font-family: font5;
  font-size: 1rem;
  color: var(--c01);
  transform: translateY(-1300%) translateX(-12%);
}

#klat_k1 {
  width: 15%;
  transform: translateX(-90%) translateY(-5%);
}

/* ------------tema 3----------  */
#section_3 {
  width: 100%;
  height: 100vh;
  background-color: var(--c04);
  /* animation-duration: 10s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: static;
  z-index: 5;
}

#section_3 p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -20%;
  line-height: 50px;
}

#tema_3 {
  width: 100%;
  height: 500px;
  padding: 1%;
  border-radius: 40px;
  background-color: white;
}

#h5_tema_3 {
  font-family: font5;
  font-size: 1rem;
  color: var(--c01);
  transform: translateY(-900%) translateX(96%);
}

#klat_k2 {
  width: 15%;
  transform: translateX(630%) translateY(-10%);
}

/* -------tema 4-----------  */
#section_4 {
  width: 100%;
  height: 100vh;
  background-color: var(--c06);
  /* animation-duration: 12s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: static;
  z-index: 5;
}

#section_4 p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -25%;
  line-height: 50px;
}

#tema_4 {
  width: 100%;
  height: 500px;
  padding: 1%;
  border-radius: 40px;
  background-color: white;
}

#h5_tema_4 {
  font-family: font5;
  font-size: 1rem;
  color: var(--c01);
  transform: translateY(-1700%) translateX(-7%);
}

#klat_k3 {
  width: 15%;
  transform: translateX(-60%) translateY(-20%);
}

/* --------tema 5-----------  */
#section_5 {
  width: 100%;
  height: 100vh;
  background-color: var(--c05);
  /* animation-duration: 12s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: static;
  z-index: 5;
}

#section_5 p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -25%;
  line-height: 50px;
}

#tema_5 {
  width: 100%;
  height: 500px;
  padding: 1%;
  border-radius: 40px;
  background-color: white;
}

#h5_tema_5 {
  font-family: font5;
  font-size: 1rem;
  color: var(--c01);
  transform: translateY(-1450%) translateX(96%);
}

#klat_k4 {
  width: 15%;
  transform: translateX(630%) translateY(-25%);
}

.new_color {
  color: #4361ee;
}

/* ------cv----------  */
#section_6 {
  width: 100%;
  height: 100vh;
  background-color: var(--c06);
  /* animation-duration: 12s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  position: static;
  z-index: 5;
}

#section_6 p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -25%;
  line-height: 50px;
}

/* -----Footer---------  */

#footer_sprite {
  background-image: url(https://mheitmann.dk/assets/asset_2.svg);
  aspect-ratio: 1923/711;
  transform: rotate(180deg);
  object-fit: cover;
  bottom: 0;
}

#section_footer {
  width: 100%;
}

#mads1 {
  position: relative;
  width: 100%;
  border-radius: 50px;
  opacity: 1;
  z-index: 99;
  margin-bottom: -80%;
}

#mads1:hover {
  transform: scale(1.1);
}

#button {
  display: inline-block;
  background-color: var(--c03);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: var(--c01);
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* animations */

.animate {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
